<div class="container">

<div class="card card-body text-white"><!-- photo-->
  <img src="https://c4.wallpaperflare.com/wallpaper/513/429/173/pencil-hd-wallpaper-preview.jpg" class="card-img" alt="artFact">
  <div class="card-img-overlay">
    <h5 class="card-title factTitle">ART FACT!</h5>
    <p class="card-text fact">Did you know that kids learn a lot more than self-expression by doing art?  When kids are encouraged to get their ideas onto paper by expressing themselves through art,
       they learn skills towards letting their creativity and confidence soar.
    </p>
  </div>
</div><!-- end of photo-->
<br><br>

 
<div class="row"> <!-- card for database info -->
    {{#each art}}

    <div class="col-md-4 box">
      
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <a href={{this.link}} class="card-link">Click here to read!</a>
          <span id="showLikes">
          <button class="likes" data-likes={{this.likes}} data-id={{this.id}}><i class="fa fa-smile-o"></i></button>
           {{this.likes}} </span>

        </div>
      </div>

    </div>
    {{/each}}

</div><!-- end of card -->

<br>
<hr>

  <!-- form -->
    <div class="row">
      <div class="col-8 offset-2">
        <h1 class="card-title">Add a link to contribute to our community!</h1>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="text">Title</label>
            <input type="text" id="title" class="form-control" aria-describedby="example-text" placeholder="Enter Title">
          </div>
          <div class="form-group">
            <label for="example-description">Category</label>
                <select class="form-control" id="category">
                  <option>Science</option>
                  <option>Math</option>
                  <option>Art</option>
                  <option>Reading</option>
                  <option>History</option>
                  <option>Break</option>
                </select>
              </div>
          
          <div class="form-group">
            <label for="link">Link</label>
            <textarea class="form-control" id="link" aria-describedby="example-description" placeholder="Enter Link!"></textarea>
          </div>
          <button id="submit" class="btn btn-warning float-right">Submit</button>
        </form>
        <br>
        <br>
      </div>
      </div>
    </div>
  
</div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/science.js"></script>



