<div class="container">

 <div class="card card-body text-white"><!-- photo-->
  <img src="https://c0.wallpaperflare.com/preview/263/921/102/business-communication-computer-concept.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title factTitle">MATH FACT!</h5>
    <p class="card-text fact">Fleas can jump around 130times their own height. So if a flea were a person six feet high,
       it can jump 780 feet high just like that. No superpowers needed!</p>
  </div>
</div><!-- end of photo-->
<br><br> 

<div class="row"><!-- card for database info -->
  {{#each math}}

    <div class="col-md-4 box">
      
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <a href={{this.link}} class="card-link">Click here to read!</a>
          <button class="likes" data-likes={{this.likes}} data-id={{this.id}}>Like</button>
          <span id="showLikes">Likes: {{this.likes}} </span>
        </div>
      </div>

    </div>
    {{/each}}
</div><!-- end of card -->

<br>
<hr>

  <!-- form -->
    <div class="row">
      <div class="col-8 offset-2">
        <h1 class="card-title">Add a link to contribute to our community!</h1>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" aria-describedby="title" placeholder="Enter Title">
          </div>
          <div class="form-group">
            <label for="category">Category</label>
                <select class="form-control" id="category">
                  <option>Science</option>
                  <option>Math</option>
                  <option>Art</option>
                  <option>Reading</option>
                  <option>History</option>
                  <option>Break</option>
                </select>
              </div>
          
          <div class="form-group">
            <label for="link">Link</label>
            <textarea class="form-control" id="link" aria-describedby="link" placeholder="Enter Link!"></textarea>
          </div>
          <button id="submit" class="btn btn-warning float-right">Submit</button>
        </form>
        <br>
        <br>
      </div>
      </div>
    </div>
  
</div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/science.js"></script>



